body	{
	 background-color: #111111 !important;
}
.page        {
    bottom:0; 
    padding-top:50px;
    padding-bottom:150px;
    position:relatie; 
    text-align:center;
    top:0;  
    width:100%; 
}
.page h1	{
	font-size:60px; 
}
.page a	{
	margin-top:50px;
}
.page-home	{
	background: #518A8A; color: #082E4B; 
}
.page-about	{
	background: #BF7D17; color: #754A05;
}
.page-contact	{
	background: #A54768; color: #9e0000; 
}
.page-chujten	{background: #297B48; color: #001809;
}
@keyframes scaleUp {
    from{ opacity: 0.3; -webkit-transform: scale(0.4); }
}
@keyframes slideOutLeft {
    to	{ transform: translateX(-100%); }
}
.ng-enter	{ animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave	{ animation: slideOutLeft 0.4s both ease-in; z-index: 9999; }
#name	{
	float: right;
	font-family: 'Shadows Into Light Two', cursive;
	color: #33adff;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 50px;
	text-decoration: none;
}
#time	{
	float: left;
	font-family: 'Shadows Into Light Two', cursive;
	color: #33adff;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 50px;
}